// Import Style Pages
@import 'pages/chat-booking'
@import 'pages/booking-complite'

// Import Style Particles
@import 'particles/color'
@import 'particles/background'
@import 'particles/spacing'
@import 'particles/border'
@import 'particles/fonts'
@import 'particles/texts'


// HTML BODY
html, body 
    background: #ede8e2

// Content
.container.content
    min-height: 300px

// Footer
.footer 
    background: #b4afac
    padding: 30px 0px