@import 'common/colors.scss';

.bg-orange
{
    background-color: $color_orange
}

.bg-gray {
    background-color: $color_gray
}

.bg-lightgray {
    background-color: $color_lightgray
}

.bg-black {
    background-color: black;
}

.bg-gradientgray {
    background: linear-gradient($color_white, $color_lightgray);
}

.c-white {
    color: $color_white
}

.c-orange {
    color: $color_orange
}

.c-darkorange {
    color: $color_darkorange
}

.c-gray {
    color: $color_gray;
}

.c-black {
    color: black;
}
