.bg-primary
    background: #fd9652 !important
    
.bg-orange
    background: orange !important

.bg-yellow
    background: yellow !important

.bg-white
    background: white !important

.bg-black
    background: #000 !important

.bg-gray
    background: gray !important

.bg-blue
    background: blue !important

.bg-green
    background: green !important

.bg-red
    background: red !important

.bg-light-orange
    background: #fdc25a !important

.bg-light-yellow
    background: #fde6b8 !important

.bg-light-gray
    background: #ebebeb !important

.bg-dark-gray
    background: #a8a8a8 !important

.bg-light-black
    background: #505050 !important

.bg-second
    background: #ede8e2 !important