// Text Decoration
.t-td-u
    text-decoration: underline

// Text Align
.t-a-c
    text-align: center !important
.t-a-r
    text-align: right !important
.t-a-l
    text-align: left !important
.t-a-j
    text-align: justify
    text-justify: inter-word

// Text Transform
.t-upercase
    text-transform: uppercase !important
