.bg-orange {
  background-color: orange;
}

.bg-gray {
  background-color: #b4afac;
}

.bg-lightgray {
  background-color: #ede8e2;
}

.bg-black {
  background-color: black;
}

.bg-gradientgray {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#ede8e2));
  background: linear-gradient(white, #ede8e2);
}

.c-white {
  color: white;
}

.c-orange {
  color: orange;
}

.c-darkorange {
  color: #F47B6C;
}

.c-gray {
  color: #b4afac;
}

.c-black {
  color: black;
}

