.row.content-booking {
  min-height: 300px;
}
.row.content-booking .tabs-pesan.nav-tabs {
  border-bottom: 0px;
}
.row.content-booking .tabs-pesan.nav-tabs .nav-item {
  margin: 0px 1px;
}
.row.content-booking .tabs-pesan.nav-tabs .nav-item .nav-link {
  border: 0px;
  border-radius: 10px 10px 0px 0px;
}
.row.content-booking .tabs-pesan.nav-tabs .nav-item .nav-link.active.show {
  border-radius: 10px 10px 0px 0px;
}
.row.content-booking .content-pesan {
  margin: 0px 1px;
  border-radius: 0px 10px 10px 10px;
}
.row.content-booking .content-pesan .tab-pane.show.active {
  background: #fff !important;
  border-radius: 0px 10px 10px 10px;
}
.row.content-booking .papan-ketik-pesan .text-area {
  width: 100%;
  border: 0px;
  outline: 0px;
}
.row.content-booking .papan-ketik-pesan .link {
  outline: 0px;
  border: 1px solid orange;
  border-radius: 100%;
  background: none;
  cursor: pointer;
}
.row.content-booking .btn-pesan {
  padding: 5px 10px;
}

#modalconfirm .table-date-pesan {
  max-height: 180px;
  overflow-x: scroll;
}

@media only screen and (max-width: 767px) {
  .chat-content {
    margin-top: 15px;
  }
}
.content-complite .col-10.content {
  min-height: 200px;
}

#time-count-down {
  margin-bottom: 15px;
}
#time-count-down .p-2 {
  background: orange;
  margin-right: 1px;
  color: #fff;
  font-size: 30px;
  padding: 0px 7px !important;
  font-weight: 700;
}
#time-count-down .p-2.titik-dua {
  background: transparent;
  color: orange;
}

.c-primary {
  color: #fd9652 !important;
}

.c-orange {
  color: orange !important;
}

.c-yellow {
  color: yellow !important;
}

.c-white {
  color: white !important;
}

.c-black {
  color: #000 !important;
}

.c-gray {
  color: #333 !important;
}

.c-blue {
  color: blue !important;
}

.c-green {
  color: green !important;
}

.c-red {
  color: red !important;
}

.c-second {
  color: darkgray !important;
}

.b-orange {
  border: 1px solid orange;
}

.bg-primary {
  background: #fd9652 !important;
}

.bg-orange {
  background: orange !important;
}

.bg-yellow {
  background: yellow !important;
}

.bg-white {
  background: white !important;
}

.bg-black {
  background: #000 !important;
}

.bg-gray {
  background: gray !important;
}

.bg-blue {
  background: blue !important;
}

.bg-green {
  background: green !important;
}

.bg-red {
  background: red !important;
}

.bg-light-orange {
  background: #fdc25a !important;
}

.bg-light-yellow {
  background: #fde6b8 !important;
}

.bg-light-gray {
  background: #ebebeb !important;
}

.bg-dark-gray {
  background: #a8a8a8 !important;
}

.bg-light-black {
  background: #505050 !important;
}

.bg-second {
  background: #ede8e2 !important;
}

.m-5 {
  margin: 5px !important;
}

.m-10 {
  margin: 10px !important;
}

.m-15 {
  margin: 15px !important;
}

.m-20 {
  margin: 20px !important;
}

.m-25 {
  margin: 25px !important;
}

.m-30 {
  margin: 30px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.p-5 {
  padding: 5px !important;
}

.p-10 {
  padding: 10px !important;
}

.p-15 {
  padding: 15px !important;
}

.p-20 {
  padding: 20px !important;
}

.p-25 {
  padding: 25px !important;
}

.p-30 {
  padding: 30px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-r {
  padding: 0px !important;
}

.p-r-t {
  padding-top: 0px !important;
}

.p-r-r {
  padding-right: 0px !important;
}

.p-r-b {
  padding-bottom: 0px !important;
}

.p-r-l {
  padding-left: 0px !important;
}

.m-r {
  margin: 0px !important;
}

.m-r-t {
  margin-top: 0px !important;
}

.m-r-r {
  margin-right: 0px !important;
}

.m-r-b {
  margin-bottom: 0px !important;
}

.m-r-l {
  margin-left: 0px !important;
}

.div-c {
  position: relative;
  display: block;
  margin: auto;
}

.w-150 {
  width: 150px !important;
}

.w-200 {
  width: 200px !important;
}

@media only screen and (max-width: 767px) {
  .p-r-l {
    padding-left: 15px !important;
  }
}
.b-radius-t-10 {
  border-radius: 10px 10px 0px 0px;
}

.b-radius-10 {
  border-radius: 10px;
}

.b-radius-15 {
  border-radius: 15px;
}

.b-radius-20 {
  border-radius: 20px;
}

.b-r {
  border: 0px;
}

.b-r-bottom {
  border-bottom-width: 0px !important;
}

.b-r-top {
  border-top-width: 0px !important;
}

.b-r-left {
  border-left-width: 0px !important;
}

.b-r-right {
  border-right-width: 0px !important;
}

.f-w-100 {
  font-weight: 100;
}

.f-w-200 {
  font-weight: 200;
}

.f-w-300 {
  font-weight: 300;
}

.f-w-400 {
  font-weight: 400;
}

.f-w-500 {
  font-weight: 500;
}

.f-w-600 {
  font-weight: 600;
}

.f-w-700 {
  font-weight: 700;
}

.f-w-800 {
  font-weight: 800;
}

.f-w-900 {
  font-weight: 900;
}

.f-s-8 {
  font-size: 8px;
}

.f-s-9 {
  font-size: 9px;
}

.f-s-10 {
  font-size: 10px;
}

.f-s-11 {
  font-size: 11px;
}

.f-s-12 {
  font-size: 12px;
}

.f-s-13 {
  font-size: 13px;
}

.f-s-14 {
  font-size: 14px;
}

.f-s-15 {
  font-size: 15px;
}

.f-s-16 {
  font-size: 16px;
}

.f-s-17 {
  font-size: 17px;
}

.f-s-18 {
  font-size: 18px;
}

.f-s-19 {
  font-size: 19px;
}

.f-s-20 {
  font-size: 20px;
}

.t-td-u {
  text-decoration: underline;
}

.t-a-c {
  text-align: center !important;
}

.t-a-r {
  text-align: right !important;
}

.t-a-l {
  text-align: left !important;
}

.t-a-j {
  text-align: justify;
  text-justify: inter-word;
}

.t-upercase {
  text-transform: uppercase !important;
}

html, body {
  background: #ede8e2;
}

.container.content {
  min-height: 300px;
}

.footer {
  background: #b4afac;
  padding: 30px 0px;
}
